<div>
  <form [formGroup]="form" (ngSubmit)="save()">
    <b>Name</b>: <input type="text" formControlName="name"><br/>
    <b>Country</b>: <select formControlName="countryId">
    <option *ngFor="let country of countries" value="{{country.id}}">{{country.name}}</option>
  </select><br/>
    <b>Type</b>:
    <label for="person">Person</label> <input id="person" type="radio" [value]="1" name="type" formControlName="type">
    <label for="company">Company</label> <input id="company" type="radio" [value]="2" name="type" formControlName="type"><br/>
    <input type="submit" value="Save" [disabled]="form.invalid">
  </form>
</div>
