<div>
  <a routerLink="add">Add new</a>
  <button (click)="synchronizeBilly()" [disabled]="onGoingSync">
    {{onGoingSync ? 'Loading' : 'Synchronize Billy from local' }}
  </button>
  <button (click)="synchronizeLocal()" [disabled]="onGoingSync">
    {{onGoingSync ? 'Loading' : 'Synchronize from Billy' }}
  </button>
</div>

<div *ngFor="let contact of contacts">
  ID: {{contact.id}} |
  Unique ID (Billy): {{contact.uniqueId}} |
  Name: {{contact.name}} |
  Country ID: {{contact.countryId}} |
  <a href="contacts/{{contact.id}}/edit">Edit</a> |
  <button (click)="delete(contact.id)">Delete</button>
</div>
