<h1>Home</h1>

<div *ngIf="!isLogged;else loggedInContainer">
  <form [formGroup]="form" (ngSubmit)="login()">
    Token: <input type="text" formControlName="token"><br/>
    <input type="submit" value="Log in">
  </form>
</div>

<ng-template #loggedInContainer>
  You are logged in. :)
</ng-template>