<div>
  <form [formGroup]="form" (ngSubmit)="save()">
    <b>Name</b>: <input type="text" formControlName="name"><br/>
    <input type="submit" value="Save" [disabled]="form.invalid">
  </form>
</div>
