<div>
  <a routerLink="add">Add new</a>
</div>

<div *ngFor="let product of products">
  ID: {{product.id}} |
  Unique ID (Billy): {{product.uniqueId}} |
  Name: {{product.name}} |
  <a href="products/{{product.id}}/edit">Edit</a> |
  <button (click)="delete(product.id)">Delete</button>
</div>
